<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.linwei.cams.module.mine">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity android:name=".ui.mine.MineActivity" />

        <activity android:name=".ui.myscore.MyScoreActivity" />

        <activity android:name=".ui.mycollect.MyCollectActivity" />

        <activity android:name=".ui.myshare.MyShareActivity" />

        <activity android:name=".ui.opensource.OpenSourceActivity" />

        <activity android:name=".ui.aboutauthor.AboutAuthorActivity" />

        <activity android:name=".ui.setting.SettingActivity" />

        <activity android:name=".ui.language.LanguageActivity" />

        <activity android:name=".ui.aboutus.AboutusActivity" />

        <activity android:name=".ui.scorerank.ScoreRankListActivity" />

    </application>

</manifest>